{% extends './layout.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}

<div class="card text-center bg-transparent border-secondary text-dark">
    <img class="opacity-50 rounded" src="static/images/banner2.jpeg" alt="fondo">
    <div class="card-img-overlay d-flex align-items-center">
        <div>
            <h1 class="card-title fs-2 text-uppercase text-dark">Materiales para proyectos exitosos</h5>
            <h2 class="card-text fs-4 text-dark">Somos una empresa dedicada a la comercialización de productos del sector industrial y de construcción.</h2>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center text-uppercase">Categorías de productos</h2>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 bg-primary">
            <i class="fa-solid fa-helmet-safety fa-lg"></i>
            <h3 class="text-center">Seguridad industrial</h3>
            <p class="p-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam in molestias expedita cupiditate inventore, possimus repellendus recusandae doloribus accusamus qui eum quasi doloremque repudiandae beatae quia illum obcaecati quidem reprehenderit.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 bg-primary">
            <i class="fa-solid fa-screwdriver-wrench fa-lg"></i>
            <h3 class="text-center">Herramientas generales</h3>
            <p class="p-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam in molestias expedita cupiditate inventore, possimus repellendus recusandae doloribus accusamus qui eum quasi doloremque repudiandae beatae quia illum obcaecati quidem reprehenderit.
            </p>
        </div>
        <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-0 bg-primary">
            <i class="fa-solid fa-plug-circle-bolt fa-lg"></i>
            <h3 class="text-center">Máquinas eléctricas</h3>
            <p class="p-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam in molestias expedita cupiditate inventore, possimus repellendus recusandae doloribus accusamus qui eum quasi doloremque repudiandae beatae quia illum obcaecati quidem reprehenderit.
            </p>
        </div>
    </div>
</div>

<i class="fa-solid fa-thumbs-up fa-5x"></i>
{% endblock %}