{% extends './layout.html' %}

{% block title %} Inicio {% endblock %}

{% block body %}

<div class="card text-center bg-transparent border-secondary text-dark">
    <img class="opacity-50 rounded" src="static/images/banner2.jpeg" alt="fondo">
    <div class="card-img-overlay d-flex align-items-center">
        <div>
            <h1 class="card-title fs-2 text-uppercase text-light">Materiales para proyectos exitosos</h5>
            <h2 class="card-text fs-4 text-light">Somos una empresa dedicada a la comercialización de productos del sector industrial y de construcción.</h2>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center">Categorías de productos</h2>
    <div class="row">
        <div class="col-md-4 bg-primary">
            <h3>Seguridad industrial</h3>
        </div>
        <div class="col-md-4 bg-primary">
            <h3>Herramientas generales</h3>
        </div>
        <div class="col-md-4 bg-primary">
            <h3>Máquinas eléctricas</h3>
        </div>
    </div>
</div>
{% endblock %}