{% extends './layout.html' %}

{% block title %} New Data {% endblock %}

{% block body %}

<h3>Students - Flask SQLAlchemy example</h3>
<hr />

<form action="{{ request.path }}" method="post">
    
    <input type="text" name="code" placeholder="Code" /><br>
    <input type="text" name="product_name" placeholder="Product name" /><br>
    <input type="number" name="price" placeholder="Price" /><br>
    <input type="number" name="discount" placeholder="Discount" /><br>
    <input type="text" name="category" placeholder="category" /><br>
    <input type="submit" value="Submit" />
</form>

{% endblock %}