{% extends './layout.html' %}

{% block title %} Productos {% endblock %}

{% block body %}
<h1 class="text-center text-uppercase display-1">Catálogo de productos</h1>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br>
<div id="productos" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-4">
    {% for product in productos %}
    <div class="col">
        <div class="card">
            <img class="card-img-top" src="..." alt="">
            <div class="card-body">
                <h5 class="card-title">{{ product.product_name }}</h5>
                <p class="card-text"></p>
                <ul>
                    <li>{{ product.code }}</li>
                    <li>{{ product.price }}</li>
                    <li>{{ product.discount }}</li>
                    <li>{{ product.category }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item" aria-current="page">
            <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block script %}

{% endblock %}